@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Calistoga', sans-serif;
}

body {
  margin: 0%;
  padding: 0;
}

#homePage > div {
  width: 100%;
  height: 100%;
  background-image: url(../images/pexels-photo-257897.jpeg);
  background-size: cover;
}

#homePage {
  height: 100vh;
  width: 100%;
  background-size: cover;
}

#homePage > div {
  height: 100%;
  width: 100%;
  display: flex;
}

.blog {
  min-height: 100vh;
  width: 100%;
}

.blog > h1 {
  text-align: center;
  margin-top: 100px;
}

.blog {
  display: block;
  text-align: center;
}

.blog p {
  margin: 40px 80px;
}

#komponenta {
  width: 600px;
  height: auto;
  margin-bottom: 100px;
  margin-top: 70px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#lista_features {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

#lista_features li {
  width: 200px;
  text-align: left;
  padding: 5px 10px;
}

#tabela {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
}

th {
  border: 3px solid goldenrod;
}

@media screen and (max-width: 768px) {
  #komponenta {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }
}