#gold {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#gold .boja {
  width: 50%;
}

#gold #left {
  background-image: linear-gradient(to right, rgb(233, 197, 105), rgb(216, 167, 42), rgb(184, 134, 11));
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

#gold #right {
  background-image: linear-gradient(to right, #282828, rgb(58, 57, 57), rgb(100, 100, 100));
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  color: darkgoldenrod;
}

@media only screen and (max-width: 768px) {
  #gold {
    flex-direction: column;
  }

  #gold .boja {
    width: 100%;
  }

  #left, #right {
    width: 100%;
    height: 50%;
  }

  #gold #left {
    justify-content: center;
    align-items: flex-end;
    background-image: linear-gradient(to bottom, rgb(233, 197, 105), rgb(216, 167, 42), rgb(184, 134, 11));
  }

  #gold #right {
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(to bottom, #282828, rgb(58, 57, 57), rgb(100, 100, 100));
  }

}